body{
	overflow:hidden;
	margin:0;
	padding:0;
	color:#dfe;
    width: 100%;
    height: 100%;
}
#frmLogo{
	padding:0;
}
.box-100{
	max-height: 100%;
	height: 100vmin;
}
.glass{
	color: #ccc;
	text-align:center;
	position: absolute;
	background:rgba(64,240,255,.125);
	border: 1px solid #444;
	backdrop-filter: blur(1px);
}
.glass:hover{
	background:rgba(128, 255, 255, 0.25);
}
.btn{
	width:3rem;
	height:3rem;
	font-size:200%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
}
#btnNav{
	left: 0;
    top: 0;
	border-bottom-right-radius: 1rem;
}
#btnPrev{
	right:0;
	top:0;	
	border-bottom-left-radius: 1rem;
}
#btnNext{
	right:0;
	bottom:0;
	border-top-left-radius: 1rem;
}
#btnExt{
	left: 0;
    bottom: 0;
	border-top-right-radius: 1rem;
    filter: grayscale(50%);
    background: rgba(0,176,191,.25);
}
#contWrap{
	overflow: hidden;
	position:absolute;
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
	background: #201;
}
#content{
    overflow-x: hidden;
	overflow-y: scroll;
	position:absolute;
	width: calc(100% + 17px);
	height: 100%;
	outline-offset: -1px;
}
.scene{
	width:100vw;
	height:100%;
	//padding: 1em .5em;
	float:left;
	overflow: hidden;
	outline: 1px solid #fc6;
}
.scene:nth-child(2n+0){
	background:#102;
}

/* bootstrap-like grid micro alternative */
[class^="td-"],[class*=" td-"]{
	position: relative;
	float:left;
	outline:1px dashed rgba(99,99,99,.2);
}
[class$="-rev"],[class*="-rev"]{float:right}
[class^="td-1"],[class*=" td-1"]{width:8.333%}[class$="-gap-1"],[class*="-gap-1"]{margin-right:8.333%}
[class$="-push-1"],[class*="-push-1"]{left:8.333%}[class$="-pull-1"],[class*="-pull-1"]{left:-8.333%}
[class^="td-2"],[class*=" td-2"]{width:16.666%}[class$="-gap-2"],[class*="-gap-2"]{margin-right:16.666%}
[class$="-push-2"],[class*="-push-2"]{left:16.666%}[class$="-pull-2"],[class*="-pull-2"]{left:-16.666%}
[class^="td-3"],[class*=" td-3"]{width:25%}[class$="-gap-3"],[class*="-gap-3"]{margin-right:25%}
[class$="-push-3"],[class*="-push-3"]{left:25%}[class$="-pull-3"],[class*="-pull-3"]{left:-25%}
[class^="td-4"],[class*=" td-4"]{width:33.333%}[class$="-gap-4"],[class*="-gap-4"]{margin-right:33.333%}
[class$="-push-4"],[class*="-push-4"]{left:33.333%}[class$="-pull-4"],[class*="-pull-4"]{left:-33.333%}
[class^="td-5"],[class*=" td-5"]{width:41.666%}[class$="-gap-5"],[class*="-gap-5"]{margin-right:41.666%}
[class$="-push-5"],[class*="-push-5"]{left:41.666%}[class$="-pull-5"],[class*="-pull-5"]{left:-41.666%}
[class^="td-6"],[class*=" td-6"]{width:50%}[class$="-gap-6"],[class*="-gap-6"]{margin-right:50%}
[class$="-push-6"],[class*="-push-6"]{left:50%}[class$="-pull-6"],[class*="-pull-6"]{left:-50%}
[class^="td-7"],[class*=" td-7"]{width:58.333%}[class$="-gap-7"],[class*="-gap-7"]{margin-right:58.333%}
[class$="-push-7"],[class*="-push-7"]{left:58.333%}[class$="-pull-7"],[class*="-pull-7"]{left:-58.333%}
[class^="td-8"],[class*=" td-8"]{width:66.666%}[class$="-gap-8"],[class*="-gap-8"]{margin-right:66.666%}
[class$="-push-8"],[class*="-push-8"]{left:66.666%}[class$="-pull-8"],[class*="-pull-8"]{left:-66.666%}
[class^="td-9"],[class*=" td-9"]{width:75%}[class$="-gap-9"],[class*="-gap-9"]{margin-right:75%}
[class$="-push-9"],[class*="-push-9"]{left:75%}[class$="-pull-9"],[class*="-pull-9"]{left:-75%}
[class^="td-10"],[class*=" td-10"]{width:83.333%}[class$="-gap-10"],[class*="-gap-10"]{margin-right:83.333%}
[class$="-push-10"],[class*="-push-10"]{left:83.333%}[class$="-pull-10"],[class*="-pull-10"]{left:-83.333%}
[class^="td-11"],[class*=" td-11"]{width:91.666%}[class$="-gap-11"],[class*="-gap-11"]{margin-right:91.666%}
[class$="-push-11"],[class*="-push-11"]{left:91.666%}[class$="-pull-11"],[class*="-pull-11"]{left:-91.666%}
[class^="td-12"],[class*=" td-12"]{width:100%}[class$="-gap-12"],[class*="-gap-12"]{margin-right:100%}
[class$="-push-12"],[class*="-push-12"]{left:100%}[class$="-pull-12"],[class*="-pull-12"]{left:-100%}